<div class="lv-header-image">
  <div class="header-container flex-column">
    <div class="header-content flex-column">
      <div class="header-logo">
        <img src="./assets/logo.svg">
      </div>
      <div class="header-sub-title">COME WORK WITH US!</div>
      <div class="header-button" (click)="scrollToJobs()">Explore Positions</div>
      <div class="header-social">
        <div class="follow-us"> Follow us</div>
        <a  class="follow-us-icon follow-us-facebook"
            [href]="'https://www.facebook.com/Locusview'" target="_blank">
          <img src="./assets/fb.svg">
        </a>
        <a  class="follow-us-icon follow-us-instegram"
        [href]="'https://www.instagram.com/locusview2021/?igshid=1gp13gk2404d4'" target="_blank">
          <img src="./assets/IG.svg">
        </a>
        <a class="follow-us-icon follow-us-linked-in"
        [href]="'https://www.linkedin.com/company/locusview/mycompany/'" target="_blank">
          <img src="./assets/linkedin.svg">
        </a>
        <a class="follow-us-icon follow-us-linked-in"
        [href]="'https://twitter.com/LocusView?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor'" target="_blank">
          <img src="./assets/twitter.svg">
        </a>
      </div>
    </div>
  </div>
</div>
