<div class="seventh-section flex-column-center">
  <div class="title">
    LOCUSVIEW IN THE MEDIA
  </div>
  <div class="articles-container flex-row-center">
    <div class="article-container flex-row-center">
      <div class="logo">
        <img src="./assets/globse-logo.png">
      </div>
      <div class="article-description-container flex-column">
        <div class="article-description">From Press Short Description about article</div>
        <div class="article-date">Feb 03,2021</div>
      </div>
    </div>
    <div class="article-container flex-row-center">
      <div class="logo">
        <img src="./assets/globse-logo.png">
      </div>
      <div class="article-description-container flex-column">
        <div class="article-description">From Press Short Description about article</div>
        <div class="article-date">Feb 03,2021</div>
      </div>
    </div>
  </div>
</div>
