<div class="seventh-section flex-column-center">
  <div class="title">
    LOCUSVIEW IN THE MEDIA
  </div>
  <div class="articles-container flex-row-center">
    <a
      target="_blank"
      [href]="'https://www.crowdfundinsider.com/2020/05/161715-job-creating-machine-ourcrowd-portfolio-companies-need-354-new-employees-right-now/'">
      <div class="article-container flex-row-center">
        <div class="logo">
          <img src="./assets/crowdfundinsider.png">
        </div>
        <div class="article-description-container flex-column">
          <div class="article-description">Locusview in Crowdfund Insider</div>
          <div class="article-date">May 20,2020</div>
        </div>
      </div>
    </a>
    <a
      target="_blank"
      [href]="'https://blogs.timesofisrael.com/not-all-gloom-ourcrowd-portfolio-companies-seek-350-employees/'">
      <div class="article-container flex-row-center">
        <div class="logo">
          <img src="./assets/toi.jpg">
        </div>
        <div class="article-description-container flex-column">
          <div class="article-description">The Time Of Israel</div>
          <div class="article-date">May 21,2020</div>
        </div>
      </div>
    </a>
  </div>
</div>
