@import "./src/vars";

.second-section {
  //height: 983px;
  padding: 63px 8vw;

  .second-section-part1 {
    .flex-row-center {
      height: 100px;
      padding-bottom: 80px;
    }

    .prop-title {
      color: $color-orange;
      font-size: 26px;
      text-align: center;
      font-weight: bold;
      padding-bottom: 50px;
    }

    .icon-and-text-container {
      padding: 0 6vw;

      .icon-and-text {
        font-size: 20px;
        text-align: center;
        margin: auto;
        width: 25%;
        padding: 10px 10px 30px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 175px;

        .text-icon {
        }

        .icon-text {
          color: #3A3A44;
          flex: 1;
          max-width: 270px;
        }
      }
    }
  }

  .second-section-part2 {
    .text {
      margin-top: -61px;
      padding-left: 40px;
      max-height: 380px;
      overflow-x: auto;
      max-width: 500px;

      .title {
        line-height: 32px;
        size: 18px;
        color: $color-orange;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .main-text {
        color: #3A3A44;
        flex: 1
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .second-section {
    padding: 63px 0;

    .second-section-part1 {

      .flex-row-center {

      }

      .prop-title {

      }

      .icon-and-text-container {
        align-items: center;
        margin-bottom: 63px;

        .icon-and-text {
          flex-direction: row;
          align-items: center;
          width: 100%;
          text-align: initial;
          height: 53px;
          justify-content: center;

          .text-icon {
          }

          .icon-text {
            margin-left: 20px;
          }
        }
      }
    }

    .second-section-part2 {
      flex-direction: column;
      padding: 0 1vw;
      .text {
        margin-top: 10px;
        max-height: initial;
        overflow-x: initial;

        .title {

        }

        .main-text {

        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .second-section {
    .second-section-part1 {

      .flex-row-center {

      }

      .prop-title {

      }

      .icon-and-text-container {

        .icon-and-text {


          .text-icon {
          }

          .icon-text {

          }
        }
      }
    }

    .second-section-part2 {
      .computer-icon {
        width: 80vw;
        img{
          width: inherit;
        }
      }

      .text {


        .title {

        }

        .main-text {

        }
      }
    }
  }
}
