<div class="second-section flex-column-center">
  <div class="second-section-part1 flex-column">
    <div class="prop-title">
      TAKING ENERGY & TELECOM UTILITIES<br> TO THE NEXT LEVEL
    </div>
    <div class="icon-and-text-container flex-wrap">
      <div class="icon-and-text">
        <div class="text-icon">
          <img src="./assets/icon1.svg">
        </div>
        <div class="icon-text">Fast-growing Israeli-American startup company</div>
      </div>
      <div class="icon-and-text">
        <div class="text-icon">
          <img src="./assets/icon2.svg">
        </div>
        <div class="icon-text">Founded in 2015</div>
      </div>
      <div class="icon-and-text">
        <div class="text-icon">
          <img src="./assets/icon3.svg">
        </div>
        <div class="icon-text">Proven category leader in the US energy market</div>
      </div>
      <div class="icon-and-text">
        <div class="text-icon">
          <img src="./assets/icon4.svg">
        </div>
        <div class="icon-text">Offices in the US, Israel, India, Australia, and Mexico</div>
      </div>
      <div class="icon-and-text">
        <div class="text-icon">
          <img src="./assets/icon5.svg">
        </div>
        <div class="icon-text">110 employees and growing rapidlly</div>
      </div>
      <div class="icon-and-text">
        <div class="text-icon">
          <img src="./assets/icon6.svg">
        </div>
        <div class="icon-text">5 Glassdoor ranking</div>
      </div>
    </div>
  </div>
  <div class="second-section-part2 flex-row-center">
    <div class="computer-icon">
      <img src="./assets/computer.png">
    </div>
    <div class="text flex-column">
      <div class="title">Our Mission</div>
      <div class="main-text">
        At Locusview, we get up in the morning to help energy, telecom &
        water utilities build a safer word and prepare for the upcoming
        challenges of building smarter energy infrastructure. We provide a
        solution in the form of a SaaS platform based on a cloud architecture
        (AWS), allowing our customers to interact through an user-friendly interface
        for both web & mobile applications. Our platform capabilities, along with
        the drive for data accuracy and integrity, is what makes Locusview the
        world's best Digital Construction Management platform.
      </div>
    </div>
  </div>
</div>
