
footer {
  display: flex;
  background-color: #C4532C;
  height: 50px;
  color: white;
  line-height: 50px;

  .text {
    width: 40vw;
    text-align: center;
  }

  span {
    flex: 1;
  }
}

@media only screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
    color: white;
    line-height: initial;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    a{
      height: 25px;
      line-height: 25px;
    }
    .text {
      flex: 1;
      text-align: center;
      width: auto;
      margin-top: 10px;
      &:last-child{
        font-size: 10px;
        margin-top: -2px;
        flex: 1;
      }
    }

    span {
      display: none;
    }
  }
}
