<div class="forth-section">
  <div class="images flex-row-center flex-wrap">
    <div class="image">
      <img src="./assets/image1.png">
    </div>
    <div class="image">
      <img src="./assets/image2.png">
    </div>
    <div class="image">
      <img src="./assets/image3.png">
    </div>
    <div class="image">
      <img src="./assets/image4.png">
    </div>
    <div class="image">
      <img src="./assets/image5.png">
    </div>
    <div class="image">
      <img src="./assets/image6.png">
    </div>
    <div class="image">
      <img src="./assets/video-preview.png">
    </div>
    <div class="image">
      <img src="./assets/video-preview.png">
    </div>
  </div>
</div>
