.forth-section {
  .images {
    .image {
      width: 23vw;
      margin: 0.4vw;

      img {
        width: inherit;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .forth-section {
    .images {
      .image {
        width: 37vw;
        margin: 0.8vw;
        img {
          width: inherit;
        }
      }
    }
  }
}
