<html>
<!--First section-->
<div class="lv-header-image">
  <div class="header-container flex-column">
    <div class="header-content flex-column">
      <div class="header-logo">
        <img src="./assets/logo.svg">
      </div>
      <div class="header-sub-title">COME WORK WITH US!</div>
      <div class="header-button">Explore Positions</div>
      <div class="header-social">
        <div class="follow-us"> Follow us</div>
        <div class="follow-us-icon follow-us-facebook">
          <img src="./assets/fb.svg">
        </div>
        <div class="follow-us-icon follow-us-instegram">
          <img src="./assets/IG.svg">
        </div>
        <div class="follow-us-icon follow-us-linked-in">
          <img src="./assets/linkedin.svg">
        </div>
      </div>
    </div>
  </div>
</div>

<!--Second section-->
<div class="second-section">
  <div class="icon_and_text">
    <div class="text-icon">
      <img src="./assets/icon1.svg">
    </div>
    <div class="icon-text">Noa</div>
  </div>
  <div class="icon_and_text">
    <div class="text-icon">
      <img src="./assets/icon2.svg">
    </div>
    <div class="icon-text">test 123</div>
  </div>
  <div class="icon_and_text">
    <div class="text-icon">
      <img src="./assets/icon3.svg">
    </div>
    <div class="icon-text">Shlomi</div>
  </div>
</div>

</html>
