<html>
<!--First section-->
<div class="lv-header-image">
  <div class="header-container flex-column">
    <div class="header-content flex-column">
      <div class="header-logo">
        <img src="./assets/logo.svg">
      </div>
      <div class="header-sub-title">COME WORK WITH US!</div>
      <div class="header-button">Explore Positions</div>
      <div class="header-social">
        <div class="follow-us"> Follow us</div>
        <div class="follow-us-icon follow-us-facebook">
          <img src="./assets/fb.svg">
        </div>
        <div class="follow-us-icon follow-us-instegram">
          <img src="./assets/IG.svg">
        </div>
        <div class="follow-us-icon follow-us-linked-in">
          <img src="./assets/linkedin.svg">
        </div>
      </div>
    </div>
  </div>
</div>

<!--Second section-->
<div class="second-section flex-column-center">
  <div class="second-section-part1 flex-column">
    <div class="title">
      TAKING ENERGY & TELECOM UTILITIES <br>TO THE NEXT LEVEL
    </div>
    <div class="icon-and-text-row flex-row-center">
      <div class="icon-and-text">
        <div class="text-icon">
          <img src="./assets/icon1.svg">
        </div>
        <div class="icon-text">Fast growing Israel-American srart-up company</div>
      </div>
      <div class="icon-and-text">
        <div class="text-icon">
          <img src="./assets/icon2.svg">
        </div>
        <div class="icon-text">Founded in 2015</div>
      </div>
      <div class="icon-and-text">
        <div class="text-icon">
          <img src="./assets/icon3.svg">
        </div>
        <div class="icon-text">Proven category leader in the US energy market</div>
      </div>
    </div>
    <div class="icon-and-text-row flex-row-center">
      <div class="icon-and-text">
        <div class="text-icon">
          <img src="./assets/icon4.svg">
        </div>
        <div class="icon-text">Offices in the US Israel, India, Astralia, & Mexico</div>
      </div>
      <div class="icon-and-text">
        <div class="text-icon">
          <img src="./assets/icon5.svg">
        </div>
        <div class="icon-text">110 employees and growing rapidlly</div>
      </div>
      <div class="icon-and-text">
        <div class="text-icon">
          <img src="./assets/icon6.svg">
        </div>
        <div class="icon-text">4.9 Glassdor Ranking</div>
      </div>
    </div>
  </div>
  <div class="second-section-part2 flex-row-center">
    <div class="computer-icon">
      <img src="./assets/computer.png">
    </div>
    <div class="text">
      <div class="title">Our Missoin</div>
      <div class="main-text">
        At Locausview, we get up in the morning to help energy, telecom &
        water utilities build a safer word and prepare for the upcoming
        challenges of building smarter energy infrastructure. We provide a
        solution in the form of a SaaS platform based on a cloud architecture
        (AWS), allowing our customers to interact through an amazing UI for
        both Web & Mobile application. Our platform capabilities, along with
        the drive for data accuracy and integrity, is what makes Locusvies the
        world's best digital infrastructure construction platform in the world.
      </div>
    </div>
  </div>
</div>
<!--Third section-->
<div class="third-section flex-column">
  <div class="title">
    WHY SHOULD YOU BECOME A 'LOCUSVIEWER'
  </div>
  <div class="third-section-contect flex-row-center">
    <img src="./../assets/image1.png">
    <div class="text flex-column">
      <div class="text-title">
        Idan<br>
        Foronted Web & Mobile Developer
      </div>
      <div class="paragraph">
        <b>Why did you choose Locausview?</b><br>
        "Beside the great people, our product is the leading solution in this field. I belive it has a bright future
        with a lot of opportunities."
      </div>
      <div class="paragraph">
        <b>What is your favorite thing about working in Locusview?</b><br>
        "My ability as a Software Developer to evolve and work on varios types of cutting-edge technologies. I was also
        amazed to witness how a single Sofgware Developer can make an impact on a product.
        The copanty is always striving to take on new challenges"
      </div>
    </div>
  </div>
</div>
<!--Forth section-->
<div class="forth-section">
  <div class="images flex-row-center flex-wrap">
    <div class="image">
      <img src="./assets/image1.png">
    </div>
    <div class="image">
      <img src="./assets/image2.png">
    </div>
    <div class="image">
      <img src="./assets/image3.png">
    </div>
    <div class="image">
      <img src="./assets/image4.png">
    </div>
    <div class="image">
      <img src="./assets/image5.png">
    </div>
    <div class="image">
      <img src="./assets/image6.png">
    </div>
    <div class="image">
      <img src="./assets/video-preview.png">
    </div>
    <div class="image">
      <img src="./assets/video-preview.png">
    </div>
  </div>
</div>

<div class="fifth-section flex-column-center">
  <div class="title">
    JOIN OUR TEAM
  </div>
  <div class="cards-container flex-wrap flex-row-center">
    <div class="card flex-column-center">
      <div class="card-title">DEVELOPMENT</div>
      <div class="description-container flex-column-center">
        <div class="description">DevOps Engineer</div>
      </div>
      <div class="link-to-job">About The Position ></div>
    </div>
    <div class="card flex-column-center">
      <div class="card-title">DEVELOPMENT</div>
      <div class="description-container flex-column-center">
        <div class="description">Java Developer</div>
      </div>
      <div class="link-to-job">About The Position</div>
    </div>
    <div class="card flex-column-center">
      <div class="card-title">PRODUCT MANAGEMENT</div>
      <div class="description-container flex-column-center">
        <div class="description">Product Manager</div>
      </div>
      <div class="link-to-job">About The Position</div>
    </div>
    <div class="card flex-column-center">
      <div class="card-title">MARKETING</div>
      <div class="description-container flex-column-center">
        <div class="description">Events Specialist</div>
      </div>
      <div class="link-to-job">About The Position</div>
    </div>
    <div class="card flex-column-center">
      <div class="card-title">OPERATION</div>
      <div class="description-container flex-column-center">
        <div class="description">Implementation Specialist</div>
      </div>
      <div class="link-to-job">About The Position</div>
    </div>
    <div class="card flex-column-center">
      <div class="card-title">OPERATION</div>
      <div class="description-container flex-column-center">
        <div class="description">Technical Soulutions Engineer</div>
      </div>
      <div class="link-to-job">About The Position</div>
    </div>
    <div class="card flex-column-center">
      <div class="card-title">DEVELOPMENT</div>
      <div class="description-container flex-column-center">
        <div class="description">Frontend Developer</div>
      </div>
      <div class="link-to-job">About The Position</div>
    </div>
    <div class="card flex-column-center">
      <div class="card-title">BUSINESS DEVELOPMENT</div>
      <div class="description-container flex-column-center">
        <div class="description">International Enterpise Sales Manager</div>
      </div>
      <div class="link-to-job">About The Position</div>
    </div>
    <div class="card flex-column-center">
      <div class="card-title">PRODUCT MANAGEMENT</div>
      <div class="description-container flex-column-center">
        <div class="description">Senior Inbound Technical Product Manager</div>
      </div>
      <div class="link-to-job">About The Position</div>
    </div>
  </div>

</div>
<div class="sixth-section flex-column-center">
  <div class="first-title">
    OUR DAY-TO-DAY
  </div>
  <div class="second-title">
    (Covid-19 policy)
  </div>
  <div class="text">
    We support the culture of flexibility with both in-office and remote work environment.
    For employees working in the office, we have a large, open space and working from home keeps everyone connected and
    encourages exceptional collaboration.
  </div>
</div>

<div class="seventh-section flex-column-center">
  <div class="title">
    LOCUSVIEW IN THE MEDIA
  </div>
  <div class="articles-container flex-row-center">
    <div class="article-container flex-row-center">
      <div class="logo">
        <img src="../assets/globse-logo.png">
      </div>
      <div class="article-description-container flex-column">
        <div class="article-description">From Press Short Description about article</div>
        <div class="article-date">Feb 03,2021</div>
      </div>
    </div>
    <div class="article-container flex-row-center">
      <div class="logo">
        <img src="../assets/globse-logo.png">
      </div>
      <div class="article-description-container flex-column">
        <div class="article-description">From Press Short Description about article</div>
        <div class="article-date">Feb 03,2021</div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="text bold">
    www.locusview.com
  </div>
  <span></span>
  <div class="text">
    @Locusview 2020 All Rights Reserved
  </div>

</footer>

</html>
