.third-section {
  height: 445px;

  carousel {
    height: 350px !important;
  }

  .title {
    text-align: center;
    color: #2A2977;
    font-weight: bold;
    font-size: 24px;
    height: 31px;
    padding-bottom: 33px;
  }

  .locusviewer-container {

    .locusviewer-image {
      width: 361px;
      height: 361px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .text-container {
      background-image: url('./../../assets/BG-testimonials.png');
      background-repeat: no-repeat;
      background-size: cover;
      padding: 1vw 5vw;
      flex: 1;
      min-height: 338px;

      .text-title {
        color: #2A2977;
        font-weight: bold;
        line-height: 26px;
        size: 18px;
        height: 52px;
      }

      .paragraph {
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .third-section {
    height: 845px;

    carousel::ng-deep {
      height: 770px !important;

      .carousel-arrows {
        .carousel-arrow {
          top: 45% !important;
        }
      }
    }

    .locusviewer-container {
      flex-direction: column;
      align-items: center;
    }
  }
}
