<div class="third-section flex-column">
  <div class="title">
    WHY SHOULD YOU BECOME A 'LOCUSVIEWER'
  </div>
  <carousel
    cellWidth="100%"
    [loop]=true
    [cellsToScroll]="1"
    [autoplay]="true"
    [autoplayInterval]="5000"
    [dots]="true"
    [transitionDuration]="250">

    <div class="carousel-cell" *ngFor="let locusviewer of locusviewers">
      <div class="locusviewer-container flex">
        <div class="locusviewer-image"
             [style.backgroundImage]="'url(./../assets/'+locusviewer.name+'.jpg)'">
        </div>
        <div class="text-container flex-column">
          <div class="text-title">
            {{locusviewer.name}}<br>
            {{locusviewer.role}}
          </div>
          <div class="paragraph">
            <b>Why did you choose Locusview?</b><br>
            {{locusviewer.q1_1}}<br>
           {{locusviewer.q1_2}}
          </div>
          <div class="paragraph">
            <b>What is your favorite thing about working in Locusview?</b><br>
            {{locusviewer.q2_1}}<br>
            {{locusviewer.q2_2}}
          </div>
        </div>
      </div>
    </div>
  </carousel>
</div>
