<div class="third-section flex-column">
  <div class="title">
    WHY SHOULD YOU BECOME A 'LOCUSVIEWER'
  </div>
  <carousel
    cellWidth="100%"
    [loop]=true
    [cellsToScroll]="1"
    [autoplay]="false"
    [autoplayInterval]="3000"
    [dots]="true"
    [transitionDuration]="250">

    <div class="carousel-cell">
      <div class="locusviewer-container flex">
        <div class="locusviewer-image"
             [style.backgroundImage]="'url(./../assets/image1.png)'">
<!--          [style.background]="'url('+course.imageUrl+')'"-->
        </div>
        <div class="text-container flex-column">
          <div class="text-title">
            Idan<br>
            Fronted Web & Mobile Developer
          </div>
          <div class="paragraph">
            <b>Why did you choose Locusview?</b><br>
            "Beside the great people, our product is the leading solution in this field. I belive it has a bright future
            with a lot of opportunities."
          </div>
          <div class="paragraph">
            <b>What is your favorite thing about working in Locusview?</b><br>
            "My ability as a Software Developer to evolve and work on various types of cutting-edge technologies. I was
            also
            amazed to witness how a single Software Developer can make an impact on a product.
            The company is always striving to take on new challenges"
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-cell">
      <div class="locusviewer-container flex">
        <div class="locusviewer-image"
             [style.backgroundImage]="'url(./../assets/image2.png)'">
          <!--          [style.background]="'url('+course.imageUrl+')'"-->
        </div>
        <div class="text-container flex-column">
          <div class="text-title">
            Idan<br>
            Fronted Web & Mobile Developer
          </div>
          <div class="paragraph">
            <b>Why did you choose Locusview?</b><br>
            "Beside the great people, our product is the leading solution in this field. I belive it has a bright future
            with a lot of opportunities."
          </div>
          <div class="paragraph">
            <b>What is your favorite thing about working in Locusview?</b><br>
            "My ability as a Software Developer to evolve and work on various types of cutting-edge technologies. I was
            also
            amazed to witness how a single Software Developer can make an impact on a product.
            The company is always striving to take on new challenges"
          </div>
        </div>
      </div>
    </div>
  </carousel>

</div>
