.fifth-section {
  background-color: #F5F5F5;

  .title {
    font-weight: bold;
    color: #2A2977;
    font-size: 24px;
    margin-top: 56px;
    margin-bottom: 40px;
  }

  .cards-container {
    justify-content: center;
    padding-bottom: 73px;

    .card {
      background-color: white;
      width: 24.7vw;
      height: 16.74vw;
      margin: 1vw;
      font-size: 14px;

      .card-title {
        color: #2A2977;
        font-weight: bold;
        padding-top: 2vw;
      }

      .description-container {
        flex: 1;

        .description {
          font-size: 28px;
          color: #C4532C;
          text-align: center;
          padding: 0 24px;
        }
      }

      .link-to-job {
        color: #3A3A44;
        padding-bottom: 1.5vw;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .fifth-section {
    .title {

    }

    .cards-container {


      .card {
        width: 39vw;
        height: 29vw;

        .card-title {

        }

        .description-container {

          .description {
            padding: 0 1vw;
          }
        }

        .link-to-job {
        }
      }
    }
  }
}


@media only screen and (max-width: 650px) {
  .fifth-section {
    .cards-container {
      .card {
        width: 51vw;
        height: 34vw;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .fifth-section {
    .cards-container {
      .card {
        width: 65vw;
        height: 54vw;
      }
    }
  }
}

